//brand colors
$brand-color-primary-light: #D2E3FC;
$brand-color-secondary-light: #FAD2CF;
$brand-color-tertiary-light: #FEEFC3;
$brand-color-quartenary-light: #CEEAD6;

$brand-color-primary-medium: #4285F4;
$brand-color-secondary-medium: #EA4335;
$brand-color-tertiary-medium: #FBBC04;
$brand-color-quartenary-medium: #34A853;

$brand-color-primary-dark: #174EA6;
$brand-color-secondary-dark: #A50E0E;
$brand-color-tertiary-dark: #E37400;
$brand-color-quartenary-dark: #0D652D;

$neutral-color-light: #F1F3F4;
$neutral-color-medium: #9AA0A6;
$neutral-color-dark: #202124;