@use './colors';
@use './fonts';
@use './typography';

.search-section__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form__input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.search-section__logo {
    height: auto;
    max-width: 18.75rem;
    width: 100%;
}

.search-section__text{
    bottom: 1.75rem;
    color: colors.$brand-color-primary-medium;
    left: 7rem;
    position: relative;
}

.container-form__button {
    display: flex;

}

.form-input {
    background-image: url('searchicon.png');
    background-size: 1rem;
    background-position: 1rem 1rem; 
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 2rem;
    
    filter: drop-shadow(0 2px 3px colors.$light-grey);

    max-width: 31.25rem;
    min-width: 12.5rem;

    width: 100%;
}

.form-input:focus {
    border: colors.$light-grey;
    box-shadow: 0 1px 3px colors.$light-grey;
    outline: none !important;
}

.form-button {
    background-color: #f4f4f4;
    border-style: hidden;
    border-radius: 0.1rem;
    
    color: #727272;
    font-family: fonts.$font-family__base;
    font-size: 0.8rem;

    cursor: pointer;
}

.main-advanced-search__title {
    font-family: fonts.$font-family__base;
    font-size: 1.2rem;
    color: #d93025
}

.advanced-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    max-width: 28.75rem;

    &__title {
        color: colors.$neutral-color-dark;
        font-size: 0.9rem;
    }

    &__label {
        display: inline-block;

        color: colors.$neutral-color-dark;
        font-size: 0.75rem;


        max-width: 12.5rem;
        width: 10rem;
    }

}

