.search-section__form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-form__input {

    display: flex;
    justify-content: center;
}

.search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.search-section__logo {
    height: auto;
    max-width: 300px;
    width: 100%;
}

.container-form__button {
    display: flex;
}

.form-input {
    background-image: url('searchicon.png');
    background-size: 16px;
    background-position: 16px 16px; 
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 32px;
    
    filter: drop-shadow(0 2px 3px #c2c2c2);
    font-size: 16px;

    max-width: 500px;
    min-width: 200px;

    width: 50vw;
}

.form-button {
    border-style: hidden;
    border-radius: 3px;
    background-color: #f4f4f4;
}