@import 'colors';

.search-section__form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-form__input {
    display: flex;
    justify-content: center;
}

.search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.search-section__logo {
    height: auto;
    max-width: 300px;
    width: 100%;
}

.search-section__text{
    bottom: 28px;
    color: $brand-color-primary-medium;
    left: 115px;
    position: relative;
}

.container-form__button {
    display: flex;

}

.form-input {
    background-image: url('searchicon.png');
    background-size: 16px;
    background-position: 16px 16px; 
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 32px;
    
    filter: drop-shadow(0 2px 3px $light-grey);
    font-size: 16px;

    max-width: 500px;
    min-width: 200px;

    width: 50vw;
}

.form-input:focus {
    border: $light-grey;
    box-shadow: 0 1px 3px $light-grey;
    outline: none !important;
}

.form-button {
    background-color: #f4f4f4;
    border-style: hidden;
    border-radius: 3px;

    cursor: pointer;
}