@use './colors';
@use './fonts';
@use './typography';



.search-section__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form__input {
    display: flex;
    justify-content: center;

    width: 100%;
}

.search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.search-section__logo {
    height: auto;
    max-width: 18.75rem;
    width: 100%;
}

.search-section__text{
    bottom: 1.75rem;
    color: colors.$brand-color-primary-medium;
    left: 7rem;
    position: relative;
}

.container-form__button {
    display: flex;

}

.form-input {
    background-image: url('searchicon.png');
    background-size: 1rem;
    background-position: 1rem 1rem; 
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 2rem;

    font-family: fonts.$font-family__base;
    filter: drop-shadow(0 2px 3px colors.$light-grey);

    max-width: 31.25rem;
    min-width: 12.5rem;

    width: 100%;
}

.form-input:focus {
    border: colors.$light-grey;
    box-shadow: 0 1px 3px colors.$light-grey;
    outline: none !important;
}

.form-button {
    background-color: #f4f4f4;
    border-style: hidden;
    border-radius: 0.1rem;
    
    color: #727272;
    font-family: fonts.$font-family__base;
    font-size: 0.8rem;

    cursor: pointer;
}

.main-advanced-search__title {
    font-family: fonts.$font-family__base;
    font-size: 1.2rem;
    color: colors.$brand-color-secondary-medium;
}

hr {
    border: node;
    border-top: 0.3px solid #ebebeb;
}

.advanced-form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    max-width: 43rem;

    &__title {
        color: colors.$neutral-color-dark;
        font-size: 0.8rem;
    }

    &__label {
        display: inline-block;

        color: colors.$neutral-color-dark;
        font-size: 0.75rem;

        width: 9rem;
    }

    &__input {
        border-radius: 0.1rem;
        border: 0.2px solid colors.$light-grey;

        font-family: fonts.$font-family__base;
        
        padding-left: 0.5rem;
        height: 1.7rem;
        width: 28.7rem;

        
    }

    &__input:focus {
            outline:0.2px solid colors.$brand-color-primary-medium;
        }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }

    &__submit {
        background-color: colors.$brand-color-primary-medium;
        border: none;
        color: colors.$neutral-color-light;
        font-family: fonts.$font-family__base;
        font-size: 0.7rem;

        width: 7.5rem;
        height: 1.8rem;
    }

}

