.search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.search-section__logo {
    height: auto;
    max-width: 300px;
    width: 100%;
}

.container-form__button {
    display: flex;
}

.form-input {
    border-style: hidden;
    border-radius: 16px;
    filter: drop-shadow(0 2px 3px rgb(207, 207, 207));
    max-width: 500px;
    min-width: 200px;
    width: 50vw;
}