//basic spacing
$sm: 8px;
$md: 16px;
$lg: 24px;

//margin spacing
.margin-sm {
    margin: $sm
}

.margin-md {
    margin: $md
}

.margin-lg {
    margin: $lg
}


//padding spacing
.padding-sm {
    padding: $sm;
}

.padding-md {
    padding: $md;
}

.padding-lg {
    padding: $lg;
}

//gap spacing
.gap-sm {
    gap: $sm;
}

.gap-md {
    gap: $md;
}

.gap-lg {
    gap: $lg;
}
