//basic spacers
$spacers: (
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px,
    xxl: 40px
);


//margin spacing
@mixin spacing($property, $size) {
    #{$property}: map-get($spacers, $size);
  }  

@each $key, $value in $spacers {
    .margin-#{$key} {
        @include spacing(margin, $key);
    }
    .padding-#{$key} {
        @include spacing(padding, $key);
    }
    .gap-#{$key} {
        @include spacing(gap, $key);
    }
}
